

.menu-bar {
  background-color: lavenderblush;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.item {
  color: rgb(128, 128, 157);
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}

a {
  text-decoration: none;
  transition: all 0.4s;
  position: relative;
}

a:hover {
  background-color: rgba(191, 151, 165, 0.299);
  border-radius: 50%;
}


